#logo-pic {
  width: 90px;
  height: 30px;
  margin-left: 10px;
};

.navbar {
  height: 100px;
}

.search-bar {
  padding-top: 10px;
}




.shopping-cart {
  border-radius: 10px;
  position: relative;
  width: 320px;
  margin-right: 100px;
  margin-top: 20px;
}

.cart-heading {
  text-align: center;
}

.price {
  text-align: center;
}

.item {
  padding-top: 20px;
}


.item-panel-body {
  height: 260px;
};


.games {

}

.games {
  padding-left: 20px;
}

.new-books {
  padding-left: 10px;
}

#search-suggestion {
  position: absolute;
  z-index: 10;
  width: 90%;
}

.first-suggestion {
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin-left: 19px;
}

#review-picture {
  height: 150px;
}

#review-box {
  margin-top: 20px;
}

#previous-orders-button {
  float: right;
  margin-right: 100px;
}

#past-order-panel {
  margin-top: 10px;
}

#payment-form {
  margin-top: 15px;
}
